/* #app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
} */

@font-face {
  font-family: 'PP Neue Montreal Bold';
  font-style: normal;
  font-weight: normal;
  src:
    local('PP Neue Montreal Bold'),
    url('./font/ppneuemontreal-bold.woff') format('woff');
}
@font-face {
  font-family: 'PP Neue Montreal Book';
  font-style: normal;
  font-weight: normal;
  src:
    local('PP Neue Montreal Book'),
    url('./font/ppneuemontreal-book.woff') format('woff');
}
